/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
 body{
    margin:0;
    padding: 0;
 }

 #navbar {
    background-color: black; 
    color: whitesmoke;
    position:sticky;
    top: 0;
    margin: 0;
    padding: 0;
    ul {
        background-color: black;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    li {
            float: left;
        }
    
   
    a {
        display: block;
        color: whitesmoke;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    a:hover {
        background-color: grey;
    }
    li a, .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover, .dropdown:hover .dropbtn {
        background-color: grey;
    }

    li.dropdown {
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;}

    .dropdown:hover .dropdown-content {
        display: block;
    }
     
        
    
}
