<div class="container">
<% flash.each do |name, msg| %>
    <% if name == "notice" %>
        
    <div class="flash-msg notice" >
       <span>
    <%= msg %></span> 
    <% elsif name == "alert" %>
    <div class="flash-msg alert">
       <span>
    <%= msg %></span> 
    <% elsif name == "error" %>
    <div class="flash-msg error" >
       <span>
    <%= msg %></span>
    
</div>
<%end %>
<% end %>
</div>