<div id="navbar">
    <ul id="listnavlinks">
        <li><a href="#">Chatroom</a></li>
        <li><a href="#">Messages</a></li>
        <li style="float:right"> <a href="about.asp">Sign Up</a></li> 
        <li class="dropdown" style="float:right">
        <a href="javascript:void(0)" class="dropbtn" >Account</a>
            <div class="dropdown-content">
                <a href="#">Log out</a>
                <%= link_to "Log in", login_path %>
                <a href="#">Sign up</a>
            </div>
    </li>
    </ul>
    
</div>