<div id="navbar">
    <ul id="listnavlinks">
        <li><a href="default.asp">Home</a></li>
        <li><a href="news.asp">News</a></li>
        <li><a href="contact.asp">Contact</a></li>
        <li><a href="about.asp">About</a></li>
        <li style="float:right"> <a href="about.asp">Sign Up</a></li> 
        <li class="dropdown" style="float:right">
        <a href="javascript:void(0)" class="dropbtn" >Dropdown</a>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
    </li>
    </ul>
    
</div>